@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
:root {
  /* Define a more professional color palette */
  --color-background: #ffffff; /* White */
  --color-text: #333333; /* Dark Gray */
  --color-primary: #005f60; /* Deep Teal */
  --color-secondary: #e0e0e0; /* Light Gray */
  --color-accent: #ff6b6b; /* Coral Red */
  --color-border: #cccccc; /* Medium Gray */

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #333333; /* Dark background */
    --color-text: #ffffff; /* Light text */
    --color-primary: #4ecdc4; /* Lighter Teal */
    --color-secondary: #555555; /* Darker Gray */
    --color-accent: #ff6b6b; /* Coral Red */
    --color-border: #666666; /* Darker Gray Border */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-sans); /* Use Tailwind's sans font */
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
