@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-background: #f8f8f8; /* Light background */
  --color-text: #333333; /* Dark text */
  --color-primary: #a3b18a; /* A shade of green/earth tone */
  --color-secondary: #dad7cd; /* Lighter earth tone */
  --color-accent: #588157; /* Darker green accent */
  --color-border: #e0e0e0; /* Light border */

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #333333; /* Dark background */
    --color-text: #f8f8f8; /* Light text */
    --color-primary: #588157;
    --color-secondary: #3a5a40;
    --color-accent: #a3b18a;
    --color-border: #555555;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Lora', serif; /* Example serif font for headings */
  font-family: 'Open Sans', sans-serif; /* Example sans-serif font for body */
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
